<h2 class = "page_header">Club Calendar</h2>
<iframe id = "calendar"
        src="https://www.google.com/calendar/embed?src=thrqf6ai57fdmv4c7dbppc30tc%40group.calendar.google.com&ctz=America/New_York" 
        style="border: 0" 
        width="800" 
        height="600" 
        frameborder="0" 
        scrolling="no">
</iframe>