<%= form_for @announcement, url: announcements_path do |f| %> 
        <% if @announcement.errors.any? %>
          <div id="errors">
            <h2><%= pluralize(@announcement.errors.count, "error") %> prevented this post from saving:</h2>
            <ul>
              <% @announcement.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class = 'form-group'>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        </div>
        
        <div class = 'form-group'>
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
        </div>
        
        
        <%= f.submit "Post", class: "btn btn-warning btn-block" %>
<% end %>