<div id = "page_wrapper">
  <h2 class = "page_header">Announcements</h2>
  <% @announcements.each do |announce| %>
    <div class="announce_wrapper">
      <h3 class="title"><%= link_to announce.title, announce %></h3>
      <p class="date"><%= announce.created_at.strftime("%B %d, %Y") %> by <%= announce.created_by %></p>
      <p class="body">
        <%= announce.content %>
      </p>   
    </div>
  <% end %>
  <%= will_paginate @posts, class: "apple_pagination" %>
</div>