<div id = "page_wrapper">
    <div class = "announce_wrapper">
        <h2 class = "title">
            <%= @announcement.title %>
        </h2>
    
        <p class="body">
          <%= @announcement.content %>
        </p>   
        
        <p class = "date">
            Posted <%= @announcement.created_at %> by <%= @announcement.created_by unless !@announcement.created_by %>
            <% if (logged_in? && current_user.admin == 1) %>
            | <%= link_to 'Edit', edit_announcement_path(@announcement) %> |
              <%= link_to 'Delete', announcement_path(@announcement), method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
        </p>
    </div>
</div>


    