<% provide(:title, "Login") %>
<div id = "page_wrapper">
  <h1 class = "page_header">Login</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>
  
        <div class = "form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        </div>
        
        <div class = "form-group">
        <%= f.label :password %>
        <%= link_to "(forgot password)", new_password_reset_path %>
        <%= f.password_field :password, class: 'form-control' %>
        </div>
      
        <%= f.submit "Log in", class: "btn btn-warning btn-block" %>
      <% end %>
    </div>
  </div>

  <div class ="page_header">
  Alumni, please click "sign up" to make an account. 
  </div>
</div>
