<p>
  Hello <%= @user.name %>,
</p>
<p>
    Welcome to the Oak Club Online. Please click the link below to activate your account. Once an administrator approves your account, you'll be ready to go! 
</p>

<%= link_to "Activate here", edit_account_activation_url(@user.activation_token, email:@user.email) %>

<p>Roll tide,</p>
<p>Oak Club Webmaster</p>
