<p>
  Hello <%= @user.name %>,
</p>
<p>
    Welcome to the Oak Club Online. An administrator has approved your account, and you may now log in!
</p>

<%= link_to "Check it out now.", root_url %>

<p>Roll tide,</p>
<p>Oak Club Webmaster</p>
