<p>
  Hello <%= @transaction.user.name %>,
</p>
<p>
    <%= @transaction.confirmed_by %> just confirmed your payment of <%= @transaction.amount %> on <%= @transaction.created_at %>. Thank you! 
</p>

<p>Roll tide,</p>
<p>Oak Club Webmaster</p>
