<div class = "page_header" id = "search_opts">
    Sort by
    <%= sortable "name" %>
    <%= sortable "grad_year", "Graduation Year" %>
    <%= sortable "city", "Current City" %>
    <br>
    <%= link_to "Reset", brothers_path %>
</div>