<%= form_tag users_path, :method => 'get' do %>  
  <%= hidden_field_tag :direction, params[:direction] %>  
  <%= hidden_field_tag :sort, params[:sort] %> 
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search the database" %>
    <div id = "search_buttons" >
    <%= submit_tag "Search", name: nil, class: "btn btn-warning"  %>
    <%= link_to "Reset", users_path, class: "btn btn-warning" %>
    </div>
<% end %>  