<%= form_for(@user, html: {multipart: true}) do |f| %>
        
        <%= render 'shared/error_messages' %> 
        
        <div class = "form-group">
        <%= f.label :name %> 
        <%= f.text_field :name, class:"form-control" %>
        </div>
        
        <div class = "form-group">
        <%= f.label :pledge_name, "Pledge Name" %>
        <%= f.text_field :pledge_name, class:"form-control" %>
        </div>
        
        <div class = "form-group">
        <%= f.label :grad_year, "Graduation year" %>
        <%= f.select :grad_year, (1990..(Time.now.year + 5)).to_a.reverse, :include_blank => "Select your Graduation Year", class: "form-control" %>
        </div>
        
        <div class = "form-group"
        <%= f.label :job, "Current Job (undergrads please write undergrad)" %>
        <%= f.text_field :job, class: "form-control" %>
        </div>
        
        <div class = "form-group">
        <%= f.label :city, "Current City" %> 
        <%= f.text_field :city, class: "form-control" %> 
        </div>
        
        <div class = "form-group">
        <%= f.label :phone_number %> 
        <%= f.text_field :phone_number, class: "form-control" %>
        </div>
         
        <div class = "form-group">
          <%= f.label :picture %> 
          <div class = "picture">
              <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
          </div>
        </div>
         
        <div class = "form-group">
        <%= f.label :email %> 
        <%= f.text_field :email, class: 'form-control' %>
        <p>Note: this email address is your username.</p>
        </div>
         
        <div class = "form-group">
        <%= f.label :password %> 
        <%= f.password_field :password, class: 'form-control' %>
        </div>
         
        <div class = "form-group">
          <%= f.label :password_confirmation, "Confirmation" %> 
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        
        <%= f.submit "Submit", class: "btn btn-warning btn-block" %>
        
        <script type="text/javascript">
          $('#micropost_picture').bind('change', function() {
            size_in_megabytes = this.files[0].size/1024/1024;
            if (size_in_megabytes > 5) {
              alert('Maximum file size is 5MB. Please choose a smaller file.');
            }
          });
        </script>
<% end %>