<div id = "page_wrapper">
  <h2 class= "page_header">Brother Database</h2>
  <%= render 'db_search' %>
  <%= render 'db_buttons' %>
  <div id = "database_wrapper" class = "container">
    <div class = "row">
    <% if @users.blank? %>
      <h4 class = "user_wrapper">No users found</h2>
    <% else %>
      <% @users.each do |user| %>
          <div class = "user col-md-4">
              <h4 class = "user_info"><%= user.name %> <%= user.grad_year %></h4>
              <% if user.picture? %>
              <% picture = user.picture.url %>
              <% else picture = "oak-shield-red-sq.png" %>
              <% end %>
              <%= link_to (image_tag picture, class: "user_image"), user %>
          </div>
      <% end %>
    <% end %>
    </div>
    <%= will_paginate @users, class: "apple_pagination" %>
  </div>
  
</div>

