<div id = "page_wrapper">
    <div id = "profile_wrapper">
        <div id = "profile_header">
            <h2 id = "user_name">
                <%= @user.name %>
            </h2>
            <h2 id = "year">
                Class of <%= @user.grad_year %>
            </h2>
        </div>
        <%= render 'shared/user_photo' %>
        <div id = "info_column">
            <h3 class = "header">
                Email
            </h3>
            <p class = "info">
                <%= link_to @user.email %>
            </p>
            
            <h3 class = "header">
                Phone Number
            </h3>
            <p class = "info">
                <% if @user.phone_number.nil? || @user.phone_number.blank? %>
                Not provided
                <% else %>
                <%= number_to_phone @user.phone_number %>
                <% end %>
            </p>
            
            <h3 class = "header">
                Pledge Name
            </h3>
            <p class = "info"><%= @user.pledge_name %></p>
            
            <h3 class = "header">
                Occupation
            </h3>
            <p class = "info">
            <% if @user.job.nil? || @user.job.blank? %>
                Not provided
                <% else %>
                <%= @user.job %>
                <% end %>
            </p>
            
            <h3 class = "header">
                Current City
            </h3>
            <p class = "info"><%= @user.city%></p>
        </div>
    </div>
</div>