<%= form_for(@doc, html: {multipart: true}) do |f| %>
	
    <%= render 'shared/error_messages' %>

    <div class="form-group">
	    <%= f.label :title %> 
		<%= f.text_field :title, class: "form-control" %>
	</div>

	<div class="form-group">
	    <%= f.label :description %> 
		<%= f.text_area :description, class: "form-control" %>
	</div>  

	<div class="form-group">
	    <%= f.label :file %> 
		<%= f.file_field :file , class: "form-control" %>
	</div>

    <%= f.submit "UPLOAD", class: "btn btn-success btn-block" %>


<% end %>