<div id = "page_wrapper">
    <% if @users.blank? %>
    <div class = "page_header">No accounts to approve!</div>
    <% else %>
        <% @users.each do |user|%>
                <div id = "profile_wrapper">
                    <div id = "profile_header">
                        <h2 id = "user_name">
                            <%= user.name %>
                        </h2>
                        <h2 id = "year">
                            Class of <%= user.grad_year %>
                        </h2>
                    </div>
                    <div id = "photo_wrapper">
                        <% if user.picture? %>
                            <%= image_tag user.picture.url %>
                        <% else %>
                            <%= image_tag 'oak-tree-gold-sq.png' %>
                        <% end %>
                    </div>
                    
                    <div id = "info_column">
                        <h3 class = "header">
                            Email
                        </h3>
                        <p class = "info">
                            <%= link_to user.email %>
                        </p>
                        
                        <h3 class = "header">
                            Phone Number
                        </h3>
                        <p class = "info">
                            <% if user.phone_number.nil? || user.phone_number.blank? %>
                            Not provided
                            <% else %>
                            <%= user.phone_number %>
                            <% end %>
                        </p>
                        
                        <h3 class = "header">
                            Pledge Name
                        </h3>
                        <p class = "info"><%= user.pledge_name %></p>
                        
                        <h3 class = "header">
                            Occupation
                        </h3>
                        <p class = "info"><%= user.job %></p>
                    </div>
                </div>
            <%= button_to "Approve this User", {action: "approve", id: user.id} %>
        <% end %>
        <%= will_paginate @users, class: 'apple_pagination' %>
    <% end %>
</div>