/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 


// @import 'normalize';
@import 'bootstrap-sprockets';
@import 'bootstrap';


$oak-red: #BA0202;
$oak-yellow: #D19A17;
$site-gray: #f5f7f9;

html, body {
	font-family: 'Baskerville', serif;
	background-color: $oak-red;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #f5f7f9;
	padding: 14em 0 0 0;
	border-right: 1px solid #d6dce0;
	#logo {
		position: absolute;
		right: 2em;
		top: 1.5em;
		img {
			width: 170px;
			height: 170px;
		}
	}
	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 0.7em;
			text-transform: uppercase;
			color: $oak-red;
		}
		li {
			padding: .5em 0;
			a {
				color: #9eafba;
				text-decoration: none;
				transition: all .4s ease;
				&:hover {
					color: $oak-red;
				}
			}
		}
		.active {
			a {
				color: #33acb7;
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #9eafba;
	}
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.alert {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: $oak-yellow;
	width: 400px ;
	padding: 50px;
	border-radius: 10px;
	margin-top: 30px;
}




#main_content {
	margin-left: 250px;
	background-color: $oak-red;
	.button {
		margin-left: auto;
		marign-right: auto
	}
	form {
		background: $site-gray;
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 1em;
		border-radius: 5px;
	}
	#header {
		padding: 1em 3em;
		border-bottom: 1px solid #d6dce0;
		background: $site-gray;
		color: #9eafba;
		min-width: 800px;
		p {
			display: inline;
		}
		a {
			color: #9eafba;
			text-decoration: none;
		}
		.buttons {
			float: right;
			margin-top: 8px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		}
		.logo {
			color: $oak-red;
			font-size: 40px;
		}
		
	}
	.announce_wrapper {
		padding: 3em;
		background-color: #f5f7f9;
		border-radius: 5px;
		margin: 3em;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7;
				}
			}
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}
	#announce_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
	}
	.page_header{
		text-align: center;
		background: $oak-yellow;
		padding: 1em;
		width: 400px;
		margin-left: auto;
		margin-right:auto;
		border-radius: 10px;
	}
	#home_image {
		margin-left: auto;
		margin-right: auto;
		width: 500px;
		height: 500px;
		display:block;
	}
	#calendar {
		display: block;
		margin-left:auto;
		margin-right:auto;
		border-radius: 5px;
	}
	
	#transactions {
		margin-top: 1em;
		background: $site-gray;
	}
	
	#page_wrapper {
		padding: 3em;
		min-width: 700px;
		.user {
			display: inline-block;
			padding: 10px;
			margin-bottom: 5px;
			margin-top: 1em;
			background: $oak-yellow;
			border: 1px solid black;
			border-radius: 10px;
			.user_info {
				text-align: center;
			}
			img {
				width: 300px;
				height: 300px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			.photo_wrap{ 
				float:left;
				width: 100px;
				padding-bottom: -5px;
				border-right-style: solid;
				border-right-color: $site-gray;
				margin-right: 40px;
			}
			
		}
		#search_opts {
				width: 350px;
				a:hover {
					text-decoration: underline;
				}
				.asc {
					color: $oak-red;
				}
				.desc {
					color: #ffffff;
				}
		}
		#search_buttons {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-top: 2px;
		}
		#profile_wrapper {
			width: 750px;
			height: 460px;
			background-color: $oak-yellow;
			margin-left: auto;
			margin-right: auto;
			border-radius: 15px;
			display: block;
			#photo_wrapper{
				float: left;
				margin-left: 100px;
				margin-top: 30px;
				margin-bottom: 20px;
				margin-right: 30px;
				display: inline-block;
				img { 
					border-radius: 10px;
					width: 300px;
					height: 300px;
					display: block;
					margin: auto;
					padding: 20px;
					background-color: $oak-red;
				}
			}
			#profile_header {
				position: relative;
				border-bottom: 2px solid #A87602;
				padding-left: 100px;
				h2 {
					margin-top: 10px;
					margin-bottom: 5px;
				}
				#user_name {
					display: inline-block;
					
				}
				#year {
					display: inline-block;
					float: right;
					padding-right: 100px;
				}
			}
			#info_column{
				float: left;
				text-align: left;
				padding-right: 0px;
				width: 250px;
				.header {
					margin-top: 20px;
					border-bottom: 2px solid #A87602;
					padding-bottom: 2px;
					margin-bottom: 1px;
				}
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	.picture {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100px;
	}
	textarea {
		min-height: 180px;
	}
	
	.apple_pagination {
		margin-top: 10px;
		background: $oak-yellow;
		text-align: center;
		padding: 1em;
		cursor: default; 
		border-radius: 30px;
		width: 40%;
		height: 40px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		a, .apple_pagination span {
			padding: 0.2em 0.3em;
		}
		.disabled{
			color: $oak-yellow; 
		}
		.current{
			font-style: normal;
			font-weight: bold;
			background-color: #bebebe;
			display: inline-block;
			width: 1.4em;
			height: 1.4em;
			line-height: 1.5;
			-moz-border-radius: 1em;
			-webkit-border-radius: 1em;
			border-radius: 1em;
			text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
		}
		a	{
			text-decoration: none;
			color: black;
		}
		a:hover, a:focus {
			text-decoration: underline;
		}
	}
}