<div id = "page_wrapper">
    <div class = "page_header">
        <h3>Confirm Transactions</h3>
    </div>
    <div class = "payment_history_table">
        <% if @transactions.empty? %>
        <div class = "page_header">
            Nothing to show!
        </div>
        <% else %> 
        <table class = "table" id = "transactions">
            <tr>
                <th>Transaction No.</th>
                <th>Date</th>
                <th>Name</th>
                <th>Email</th>
                <th>Amount</th>
                <th>Confirmed?</th>
            </tr>
            
            <% @transactions.each do |t| %>
            <tr>
                <td><%= t.id %></td>
                <td><%= t.created_at%></td>
                <td><%= t.user.name %></td>
                <td><%= t.user.email %></td>
                <td><%= number_to_currency t.amount %></td>
                <td>
                    <% if t.confirmed %>
                    Confirmed by <%= t.confirmed_by %> at <%= t.confirmed_at %>
                    <% else %>
                    <h4><%= link_to "click to confirm", {action: "confirm", id: t.id}, method: 'post' %></h4>
                    <%= link_to 'Click to Delete', transaction_path(t), method: :delete, data: {confirm: 'Are you sure?'} %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </table>
        <% end %>
    </div>
    <%= will_paginate @transactions, class: "apple_pagination"%> 
</div>