<div id = "page_wrapper">
    
    <div class = "page_header">
        <h2>Pay Dues</h2>
    </div>
    <div class = "page_header">
        <h7>NOTE: Paying online incurs a transaction fee. To avoid this fee, please contact the Undergraduate Treasurer to pay by cash or check.</h7>
        <h7>Brothers interested in financial aid, please contact the Undergraduate Treasurer.</h7>
    </div>
    
    <%= form_for(@transaction, url: dues_path) do |f| %>
        
        <%= render 'shared/error_messages' %> 
        
        <div class = "form-group">
        <%= f.label :amount %>
        <%= f.select :amount, ["Dues: $400", "New Brother Dues: $550"], include_blank: "Choose amount", class: "form-control" %>
        </div>
        
        <%= f.submit "Submit", class: "btn btn-primary" %>
    
    <% end %>
</div>
    