<div id = "page_wrapper">
    <div class = "page_header">
        <h3>Your Transaction History</h3>
    </div>
    <div class = "payment_history_table">
        <% if @transactions.empty? %>
        <div class = "page_header">
            Nothing to Show
        </div>
        <% else %>
        <table class = "table" id = "transactions">
            <tr>
                <th>Transaction No.</th>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Confirmed?</th>
            </tr>
            
            <% @transactions.each do |t| %>
            <tr>
                <td><%= t.id %></td>
                <td><%= t.user.name %> </td>
                <td><%= t.created_at%></td>
                <td><%= number_to_currency t.amount %></td>
                <% if t.confirmed %>
                <td>Confirmed by <%= t.confirmed_by %></td>
                <% else %>
                <td>Not Confirmed</td>
                <% end %>
            </tr>
            <% end %>
        </table>
        <% end %>
    </div>
    <%= will_paginate @transactions, class: "apple_pagination"%> 
</div>