<div id="header">
    
    <p class = "logo">The Oak Club </p>
 
    <div class="buttons">
    <% if logged_in? %>
      <p>Welcome, <%= current_user.name %></p>
      <%= link_to logout_path do %>
        <button class = "btn btn-warning">Log Out</button>
      <% end %>
    <% else %>
      <%= link_to sign_up_path do %>
        <button class = "btn btn-warning">Sign Up</button>
      <% end %>
      <%= link_to login_path do %>
        <button class = "btn btn-warning">Log In</button>
      <% end %>
    <% end %>
    </div>
    
</div>