<div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
            <%= site_logo %>
        <% end %>
      </div>
      
      <% if logged_in? %>
      <ul>
        
        <% if current_user.admin == 1 %>
        <li class="category">Admin</li>
        <li><%= link_to "Post an Announcement", new_announcement_url %></li>
        <li><%= link_to "Approve accounts", account_activations_url %></li>
        <li><%= link_to "Confirm transactions", payment_history_url %></li>
        <li><%= link_to "Manage Documents" %></li>
        <% end %>
        
        <li class="category">Navigation</li>
        <li><%= link_to "Announcements", announcements_url %></li>
        <li><%= link_to "Club Calendar", calendar_url %></li>
        <li><%= link_to "Brother Database", brothers_url %></li>
        <li><%= link_to "Pay Dues", dues_url %></li>
        <li><%= link_to "Transaction History", user_payment_history_url %></li>
        <li><%= link_to "Documents" %></li>
        
        <li class="category">Profile</li>
        <li><%= link_to "View your profile", profile_url %></li>
        <li><%= link_to "Edit your profile", edit_user_url(@current_user) %></li>
        
      </ul>
      <% end %>
 
</div>