<!DOCTYPE html>
<html>
<head>
  <title>The Oak Club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %> 
</head>
<body>
  <%= render 'layouts/sidebar' %>
  
  
  <div id="main_content">
    <%= render 'layouts/header'%>
 
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
    
    

    <%= yield %>
    
    <%=  debug params if Rails.env.development? %>
  </div>

</body>
</html>
